
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div style="float:left">
        <div class="card" style="width:170px">
            <img src="~/Content/images/mehmet.jpg" alt="Alternate Text" style="width:170px;border-radius:5px" />
            <div class="card-header">
            </div>
            <div class="card-body">
                <h6 style="color:gray">Mehmet Erdoğdu</h6>
                <h6>Elektrik Elektronik Mühendisi</h6>
            </div>
            <div class="card-footer">
                <h6>Sosyal ağlardan ulaşabilirsiniz..</h6>
                <a class="btn btn-info btn-xl js-scroll-trigger" href="https://www.facebook.com/mehmet.erdogdu52">FACEBOOK</a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div style="margin-left:20px">
                <i class="fa fa-4x fa-quote-left text-success mb-3 sr-icons" data-sr-id="2" style="visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
                <p class="text-muted mb-0">
                    1993'te Ordu'da doğdu. İlk ve orta öğretimi Muratçık Kadıoğlu İlköğretim okulunda
                    bir köyde bitirdi. Ardından Anadolu Teknik Lisesi'sinde Veri Tabanı bölümünü kazandı.
                    Burada bir kaç ödül kazandı. Üniversiteyi Dumlupınar Üniversitesin'de Elektrik Elektronik Mühendisliği
                    bölümünde okuyarak buradan mezun oldu..
                </p>
                <i class="fa fa-4x fa-quote-right text-info mb-3 sr-icons" data-sr-id="2" style="visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
            </div>
            <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons" data-sr-id="2" style="visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
                <h3 class="mb-3">Elmas Gibi Tasarım</h3>
                <p class="text-muted mb-0">Muhteşem tasarımlar..</p>
            </div>
            <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons" data-sr-id="3" style="visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
                <h3 class="mb-3">Gönderime Hazır</h3>
                <p class="text-muted mb-0">Hızlı hizmet ve hızlı yönetim..</p>
            </div>
            <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons" data-sr-id="4" style="visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
                <h3 class="mb-3">Güncel</h3>
                <p class="text-muted mb-0">Ulaşılabilir, güncel ve güvenli..</p>
            </div>
            <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-heart text-danger mb-3 sr-icons" data-sr-id="5" style="visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
                <h3 class="mb-3">Aşk ile yapıyoruz</h3>
                <p class="text-muted mb-0">İşimizi sevdiğimiz için yapıyoruz!</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="about" style="border-radius:15px;clear:left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <br />
                <h2 class="section-heading text-white">Neye ihtiyacın var biliyoruz!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Muhteşem tasarımlara ayıracak zamanınız yoksa biz sizin için tasarlayalım..
                </p>
                <p class="text-faded mb-4">
                    Var olan otomasyon projelerinizi Endüstiri 4.0 ile yenileyelim..
                </p>
                <p class="text-faded mb-4">
                    Firmanızı tanıtalım ya da organizasyon için gerekli olan ihtiyaçlarınızı organize edelim..
                </p>
                <p class="text-faded mb-4">
                    Verileriniz yönetelim..
                </p>
                <p class="text-faded mb-4">
                    Elektrik ve elektronik projelerinizi internete bağlayalım..
                </p>
                <p class="text-faded mb-4">
                    Enerji ve scada sistemlerinizin görüntülenmesi ve yönetimini üstlenelim..
                </p>
                <p class="text-faded mb-4">
                    Koordinasyonunuzu sağlayıp verilerinizi bulutta depolayalım
                </p>
                <p class="text-faded mb-4">
                    Yapay Zeka (Artifical Inteliegent)
                </p>
                <a class="btn btn-danger btn-xl js-scroll-trigger" href="/" onclick="ajax_loading()">ANASAYFA</a>
                <br />
                <br />
            </div>
        </div>
    </div>
</section>