
@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="masthead bg-primary text-white text-center" style="border-radius:10px">
    <br />
    <img class="img-fluid mb-5 d-block mx-auto" src="~/Content/images/profile.png" alt="Hata">
    <h4 style="color:black">Sistemde bir hata meydana geldi!</h4>
    <hr />
    <h6>Üzgünüz</h6>
    <h6>Merak etmeyin. Bu hata için gerekli bilgileri aldık.</h6>
    <h6>Arkanıza yaslanın, rahatlayın ve hatanın düzeltilmesini bekleyin..</h6>
    <br />
</div>